/* ****************mobile device******************* */
@media (min-width:320px) and (max-width:480px){
    h2{
        font-size: 50px;
        font-family: 'Balsamiq Sans', 'cursive';
        font-weight: bold;
    }
    #top{
        position: fixed;
        width: 4%;
        height: 8vh;
        background: rgb(0, 206, 127);
        bottom: -0px;
        right: -0px;
        z-index: 99999;
        margin: 0 25px 20px 0;
        border-radius: 50%;
        cursor: pointer;
       
    }
    #top i{
    position: absolute;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    top: 0.7rem;
    left: 15px;
    color: white;
    }
    /* ***************header************* */
    .home{
        width: auto;
        height: auto;     }
    .home::before{
     display: none;
    }
    .navbar-toggler{
  border: none;
    }
    .navbar-toggler .navbar-toggler-icon{
        background: url('../images/menu_icon.png');
        background-repeat: no-repeat;
        color: black !important;
    }
    a{
        font-size: 15px;
        text-transform: uppercase;
        color: black !important;
        font-weight: 400;
    }
    .navbar-brand{
        margin-left: 0px;
    } 
    .collapse{
        background-color: rgb(7, 216, 146);
        padding: 20px 0px 35px 20px;
   
    }
    li :hover{
        color:white !important ;
    }
    .btn_1{
        border-radius: 25px;
        padding: 10px 50px;
        border-radius: 10px; 
        margin-top: 10px;  
    }
    
    .btn_1:hover{
        background-color: rgb(1, 226, 151);
        color: black;
        transition: 0.5s;
        border: none;
        border-radius: 30px;
    }
    .top_img img{
        width: 110%;
        height: 70vh;
    }
    .text h1{
        font-size: 3rem;
    line-height: 1;
    margin-top: 0px !important;
    }
    .text strong{
        line-height: 0;
        font-weight: 800;
    }
    .text span{
        font-size: 2rem;
        line-height: 1.5;
    }  
    .btn_1 a{
      color: white !important;
      font-weight: 600;
    }
    .btn_1 a:hover{
       color: white !important;
    }
    .lap_img{
        margin-top: 50px;
        background : linear-gradient(to bottom,#0aec98 0% , #2bcc91 100%);
    }
    .top_img img{
        width: 100%;
        height: 40vh;
        margin-top: 40px;
    }
    /* ***************about************* */
#about{
    width: auto;
    height: auto;
}
.about_txt{
    padding: 50px 0 40px 0;
}
.about_txt span{
    font-size: 1.2rem;
    line-height:2;
}
.about_txt img{
    width: 98%;
    height: 27vh;
    padding: 30px 0 10px 0;
}
/* ----------------services------------ */
#services{
    margin-top: 20%;
}
#services h2{
    font-size: 2.7rem;
}
#services span{
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.2rem;
    padding-bottom: 90px;
}
#services .row{
    margin-top: 40px;
}
.read_more{
    padding: 15px 47px!important;
    font-size: 1.2rem;
}
/* +++++++++++++++++offers++++++++++++++++++ */

.two_box .col-md-5{
height: 35vh;
}
.two_box_img h2{
    font-size: 2.5rem;
}
.two_box_img img{
    width: 94%;
    height: auto;
}
.timer{
    left:0%;
    position: absolute;
    width: 100%;
  top: 60%;
}
.timer div{
  width:18%;
  height: 10vh;  
}
.timer div p{
    line-height: 3.5;
    font-size: 1.2rem;
}
/* <!-- ***************Acheivment************************* --> */
.acheivment{
    width: 100% !important;
    position: relative;
    top:130px;
    text-align: center;
    height: auto;
}
.box_2{
    width: 100%;
}
/* <!-- ***********************contact************************** --> */ 
#contact{
    width: 100%;
    height: auto;
    top:8rem
}
.main_form button{
 margin: 20px 0 0 30%;
 background-color: rgb(0, 0, 0);
 padding: 10px 60px;
 border-radius: 10px;
 font-size: 1.1rem;
}
.main_form input{
    padding: 13px 40% 13px 0;
}
.main_form button{
 left: 25%;
 padding: 13px 60px;
}
textarea{
    padding: 13px 50% 13px 0;
}
/* -------------------testimonial--------------- */
 .testimonial{
    position: relative;
    width: 100%;
    height: 100vh;
    top:15rem;
}
.carousel-item{
        height: 50vh;
        width: 100%;
        color: black;
}
.carousel-item h5{
    font-size: 2rem;
    font-weight: 600;
}
.carousel-item p{
    line-height: 1.5;
    font-size: 1.2rem;
}
.carousel-indicators li{
    background-color: rgb(0, 180, 120);
    width: 5%;
    height: 2vh;
} */

/* ----------footer------------------- */
.footer{
    top:300rem;
}
.footer button{
    background-color: white;
    border: none;
    margin-right: 8px;
    font-size: 2.5rem;
}
.copyright p a{
   color: wheat !important;
   padding-left: 35px !important;
}

#top_btn{
    position: absolute;
    width: 8%;
    height: 5vh;
    background: red;
}
/* ------------Scroll Top-------------- start */
#top{
    width: 15%;
}
#top i{
top: 1rem;
font-size: 30px;
}
/* ------------Scroll Top-------------- end*/

}

@media (min-width:768px) and (max-width:1024px){
    .home{
        width: 90%;
        height: 67vh;
    }
    .home::before{
        width: 60%;
        height: 60vh;
        left: 45.2%;
        top: 2%;
        border-radius: 0;
    }
    a{
        font-size: 15px;
    }
    li{
        margin-right: 0px;
    }
    .btn_1{
        border-radius: 25px;
        padding: 10px 50px;
        border-radius: 10px; 
        margin-top: 10px;  
    }
    .top_img img{
        width: 100%;
        height: 40vh;
    }
    /* ----------------services------------ */
#services .box{
    height: 23vh;
    margin-bottom: 30px !important;
}
#services .btn{
    padding: 12px 50px !important;
    border-radius: 10px;
}   
/* +++++++++++++++++offers++++++++++++++++++ */
.two_box{
    height: 30vh;
}
.two_box_img{
    width: 100%;
    height: 30vh;
   
}
.two_box_img img{
    width: 80%;
    height: 30vh;
}
.timer{
    width: 95%; 
    left: 0%;
}
.timer div{
  width:18%;
  height: 7vh;
  padding-top: 20px;
}
.timer div p{
    line-height: 6;
}
/* ***************** .acheivment****************** */
.box_2{
    width: 10%;
    margin: 30px;
    height: 20vh;
    border-radius: 30px;
    background: #3fe4a5; 
    color: white;    
    background-color: rgb(12, 238, 163); 
    padding-top:25px;
}
.acheivment{
    height: 45vh;
}
/* <!-- ***********************contact************************** --> */
#contact{
    width: 100%;
    height: 60vh;
}

.tt{
    width: auto;
    background-color: rgba(27, 31, 39, 0.89);
}
.mane_img img{
    width: 100%;
    height:40vh;
}
.main_form input{
    padding: 13px 100% 13px 0;
}
textarea{
    padding: 23px 115% 23px 0;
}
.main_form button{
    margin: 20px 0 0 45%;
    padding: 12px 60px;
   }
   /* -------------------testimonial--------------- */
.testimonial{
    width: 100%;
    height: 30vh;
    position: relative;
    color: black;
    top:0px;
}
.carousel-item{
        height: 20vh;
        padding-top: 0px !important;
}
.carousel-item p{
    padding-top: 30px;
    width: 100%;
}
.carousel-item i{
    color: rgb(0, 218, 145);
    font-size: 1.2rem;
    padding:0 10px;
}
.carousel-indicators li{
    background-color: rgb(0, 180, 120);
    width: 2%;
    height: 1vh;
}

/* ********************* .footer----------------------------- */
.footer{
    border-top: 1px solid rgb(77, 77, 77);
    height: 18vh;
    width: 100%;
}
.copyright{
    width: 100%;
    height: 5vh;
padding: 20px 0 0 0;
}
.copyright p a:hover{
    color: aqua !important;
    transform: 0.5s !important;
}
/* ------------Scroll Top-------------- start */
#top{
    width: 10%;   
}
#top i{
left: 25%;
top: 1.5rem;
font-size: 50px;
}
/* ------------Scroll Top-------------- end*/
} 

@media (min-width:768px) and (max-width:961px){
         .navbar-toggler{
        background-repeat: no-repeat;
        color: black !important;
        }
     a{
        font-size: 15px;
        text-transform: uppercase;
        color: black !important;
        font-weight: 400;
    }
    .navbar-brand{
        margin-left: 0px;
    } 
    .collapse{
        background-color: rgb(7, 216, 146);
        padding: 20px 0px 35px 20px;
    }
}